In [2]:
a =5

In [4]:
print(a)

5

In [5]:
b=5

In [6]:
type(b)

int

In [7]:
id(b)

140705702715920

In [8]:
id(a)

140705702715920

In [9]:
a=a+2

In [10]:
print a

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(a)? (<ipython-input-10-da1608c9d425>, line 1)

In [11]:
print(a)

7

In [12]:
id(a)

140705702715984

In [13]:
print(b)

5

In [14]:
id(b)

140705702715920

In [15]:
stra = "Welcome to Deloitte."

In [16]:
len(stra)

20

In [17]:
stra[5]

'm'

In [18]:
stra[-1]

'.'

In [19]:
stra[-5:2]

''

In [20]:
stra[2:-5]

'lcome to Delo'

In [21]:
stra [-1:0]

''

In [22]:
stra[0:-1]

'Welcome to Deloitte'

In [23]:
stra[10:]

' Deloitte.'

In [24]:
c =+ 2

In [25]:
print(c)

2

In [26]:
d=10

In [27]:
sum=c+d

In [28]:
print(sum)

12

In [30]:
(c<d)and(c<sum)

True

In [38]:
nm='Anukta '

In [40]:
snm=' Neela Sara'

In [43]:
ful = nm+snm

In [44]:
print(ful)

Anukta  Neela Sara

In [49]:
name='anukta'

In [50]:
sorted(name)

['a', 'a', 'k', 'n', 't', 'u']

In [51]:
name.

SyntaxError: invalid syntax (<ipython-input-51-d7e531e88f0e>, line 1)

In [53]:
name.capitalize()

'Anukta'

In [54]:
name.upper()

'ANUKTA'

In [55]:
name[2]='B'

TypeError: 'str' object does not support item assignment

In [56]:
comedycentral = ['big bang','2 and half men', 'HMIYM','Friends']