In [1]:
# 1. to display sum and average of two numbers. The average should be displayed as a  whole number

In [4]:
x=22.5
y=20
sum=x+y
avg=sum/2
print("the sum is: ",sum)
print("the avg is: ", int(avg))

the sum is:  42.5
the avg is:  21

In [5]:
#2. program that prints out all the elements of the list (list of numbers) that are less than 5

In [67]:
lista = [20,11,5,6,1,3,45]
for val in lista:
    if(val<5):
        print(val)
#else:
 #   print("no value less than 5 in list")

1
3

In [11]:
#3. 3.	Given a number check if it is even or odd, if it’s divisible by ten then display a different message.

In [26]:
var = 41

if var%2 == 0:
    print("even")
    if var%10 ==0:
        print("divisible by 10")
else:
    print("odd")
    print("----")

odd
----

In [27]:
#4. program to calculate & display product of two integers. If the product is greater than 500 then display their sum

In [29]:
varx=21
vary=100
prod = varx * vary
if prod > 500:
    sum=varx+vary
    print("Sum is: ",sum)
else:
    print("Product is: ", prod)

Sum is:  121

In [30]:
#5. 5.	Given a starting number as 4 and ending number as 20, iterate over the range of numbers and print the sum of current number and previous number.

In [31]:
for i in range(4,20,1):
    sum=i+(i-1)
    print(sum)

7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37

In [32]:
#6. program to test whether a passed letter is a vowel or not.

In [46]:
vow= 'z'
if (vow=='a' or vow == 'e' or vow == 'i' or vow == 'o' or vow == 'u'):
    print(vow," is a vowel")
else:
    print(vow," not a vowel")

z  not a vowel

In [47]:
#7. 7.	Given a string, display only those characters which are present at the even index.

In [52]:
stra = "Hello world!!"
for i in range(0,len(stra),2):
    print(stra[i])

H
l
o
w
r
d
!

In [54]:
#8. same as 3

In [55]:
#9. 9.	Given a list of numbers, iterate it and print only those numbers which are divisible of 10

In [59]:
listnum = [1,4,5,10,200,40,45,80,88]
for val in listnum:
    if(val%10==0):
        print(val)

10
200
40
80

In [60]:
#10. 10.	Given a list of integers, find if the first & last elements of the list are same.

In [62]:
listran = [1,5,11,45,25,2,10]
if listran[0]==listran[-1]:
    print("1st nd last value is same")
else:
    print("1st nd last value is not same")

1st nd last value is not same

In [68]:
#11. 11.	Replace all spaces in a string with an underscore.

In [112]:
strun = "Hello world is the first ever program you should run!"
#strun.replace()
strrep = strun.replace(" ","_")
print(strrep)

Hello_world_is_the_first_ever_program_you_should_run!

list

SyntaxError: invalid syntax (<ipython-input-106-436dad5240f1>, line 3)

In [98]:
straa = "welcome hello"

In [99]:
list(straa)

['w', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 'h', 'e', 'l', 'l', 'o']

In [100]:
type(straa)

str

In [101]:
strab = list(straa)

In [103]:
type(strab)

list

In [104]:
strac = str(strab)

In [111]:
txt = "one one was a race horse, two two was one too."

x = txt.replace(" ", "_")

print(x)

one_one_was_a_race_horse,_two_two_was_one_too.

In [107]:
#12. 12.	Write a code to check if the given string is palindrome or not

In [117]:
strpal = "madam"
strrev= strpal[::-1]

if strpal==strrev:
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [120]:
#13. 13.	Write a code to generate Fibonacci series till nth  number

In [121]:
n=10
for i in range(0,n,1):
    fib=i+(i+1)
    print(i,"+",(i+1),"=",fib)

0 + 1 = 1
1 + 2 = 3
2 + 3 = 5
3 + 4 = 7
4 + 5 = 9
5 + 6 = 11
6 + 7 = 13
7 + 8 = 15
8 + 9 = 17
9 + 10 = 19

In [122]:
#14 	Given 2 strings, stra and strb, create a new string by appending strb in the middle of stra

In [150]:
straaa="Welcome"
strbbb="home"
l=len(straaa)
strccc=straaa[0:(int(l/2))] + strbbb + straaa[(int(l/2)):]
print(strccc)

Welhomecome

In [152]:
#15. 15.	Write a code to print the following pattern using a loop:
#1 
#1	2
#1	2	3
#1	2	3	4
#1	2	3	4	5

In [198]:
for i in range(1,6,1):
    for j in range(1,i+1,1):
            print(j,"\r")

1
1
2
1
2
3
1
2
3
4
1
2
3
4
5

In [199]:
#16. 16.	Given a huge string, display only the first 25% (aprox) of character. 
#For example, if string is “greater good”, then the output should be “gre”.

In [205]:
strch = "greater good"
lench = int(0.25*(len(strch)))
strchr = strch[:lench]
print(strchr)

gre

In [206]:
#17. 17.	Given a list of numbers, if the size of list is odd, then display the center most number. If the size of list is even then display average of the two numbers ate the center.

In [218]:
listnumber = [1,2,3,4,5,6,7,8]
lenlist = len(listnumber)
lenhalf = int(lenlist/2)
if lenlist%2!=0:
    print(listnumber[lenhalf])
else:
    print(listnumber[lenhalf-1],listnumber[lenhalf])

  listnumber.

4 5

In [219]:
#18. 18.	Take two lists and write a program that returns a list that contains only the elements that are common between the two lists (without duplicates).

In [224]:
listm = ['a','n','u','k','t','a']
listn = ['a','n','u']

listmn = listm and listn
print(listmn)

['a', 'n', 'u']

In [225]:
#19. 19.	Write a code to check if a given year is leap year or not.

In [230]:
yr =2002
if yr%4==0 or yr%400==0:
    print("leap")
else:
    print("not leap")

not leap

In [231]:
#20. 20.	Write a code to check if the given number is prime or not.

In [237]:
num = 7
count=0
for i in range(2,num+1,1):
    if num%i == 0:
        count=count+1
if count==1:
    print("prime")
else:
    print("not prime")

prime

In [238]:
#21. 21.	Write a code to extract all values from a multi-level nested dictionary. It should work for any level and should display only values and not keys.

In [252]:
#22.	Iterate over a list and count the occurrence of each element. Create a dictionary to show the count of each element

In [250]:
listn = [10,20,30,40,10,50,60,20,40]
dicta={}
for val in listn:
    x=listn.count(val)
    dicta[val]=x

In [251]:
print(dicta)

{10: 2, 20: 2, 30: 1, 40: 2, 50: 1, 60: 1}