In [16]:
import sqlite3
con = sqlite3.connect('chinook.db')

cur = con.cursor()

query = """SELECT name from sqlite_master where type = "table" """

cur.execute(query)

In [17]:

    cur.fetchall()

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',)]

In [18]:
que = "select * from employees"

In [20]:
cur.execute(que)

In [21]:
cur.fetchall()

[(1,
  'Adams',
  'Andrew',
  'General Manager',
  None,
  '1962-02-18 00:00:00',
  '2002-08-14 00:00:00',
  '11120 Jasper Ave NW',
  'Edmonton',
  'AB',
  'Canada',
  'T5K 2N1',
  '+1 (780) 428-9482',
  '+1 (780) 428-3457',
  'andrew@chinookcorp.com'),
 (2,
  'Edwards',
  'Nancy',
  'Sales Manager',
  1,
  '1958-12-08 00:00:00',
  '2002-05-01 00:00:00',
  '825 8 Ave SW',
  'Calgary',
  'AB',
  'Canada',
  'T2P 2T3',
  '+1 (403) 262-3443',
  '+1 (403) 262-3322',
  'nancy@chinookcorp.com'),
 (3,
  'Peacock',
  'Jane',
  'Sales Support Agent',
  2,
  '1973-08-29 00:00:00',
  '2002-04-01 00:00:00',
  '1111 6 Ave SW',
  'Calgary',
  'AB',
  'Canada',
  'T2P 5M5',
  '+1 (403) 262-3443',
  '+1 (403) 262-6712',
  'jane@chinookcorp.com'),
 (4,
  'Park',
  'Margaret',
  'Sales Support Agent',
  2,
  '1947-09-19 00:00:00',
  '2003-05-03 00:00:00',
  '683 10 Street SW',
  'Calgary',
  'AB',
  'Canada',
  'T2P 5G3',
  '+1 (403) 263-4423',
  '+1 (403) 263-4289',
  'margaret@chinookcorp.com'),
 (5,
  'Johnson',
  'Steve',
  'Sales Support Agent',
  2,
  '1965-03-03 00:00:00',
  '2003-10-17 00:00:00',
  '7727B 41 Ave',
  'Calgary',
  'AB',
  'Canada',
  'T3B 1Y7',
  '1 (780) 836-9987',
  '1 (780) 836-9543',
  'steve@chinookcorp.com'),
 (6,
  'Mitchell',
  'Michael',
  'IT Manager',
  1,
  '1973-07-01 00:00:00',
  '2003-10-17 00:00:00',
  '5827 Bowness Road NW',
  'Calgary',
  'AB',
  'Canada',
  'T3B 0C5',
  '+1 (403) 246-9887',
  '+1 (403) 246-9899',
  'michael@chinookcorp.com'),
 (7,
  'King',
  'Robert',
  'IT Staff',
  6,
  '1970-05-29 00:00:00',
  '2004-01-02 00:00:00',
  '590 Columbia Boulevard West',
  'Lethbridge',
  'AB',
  'Canada',
  'T1K 5N8',
  '+1 (403) 456-9986',
  '+1 (403) 456-8485',
  'robert@chinookcorp.com'),
 (8,
  'Callahan',
  'Laura',
  'IT Staff',
  6,
  '1968-01-09 00:00:00',
  '2004-03-04 00:00:00',
  '923 7 ST NW',
  'Lethbridge',
  'AB',
  'Canada',
  'T1H 1Y8',
  '+1 (403) 467-3351',
  '+1 (403) 467-8772',
  'laura@chinookcorp.com')]

In [24]:
rec = cur.fetchall()
print(len(rec))
for r in rec:
    print(r)

0

In [25]:
con.close()

In [26]:
import sqlite3
con = sqlite3.connect('sports.db')

In [38]:
curb = con.cursor()

In [28]:
q = "CREATE TABLE players (id integer PRIMARY KEY, name text, sport text, \
earn real, country text)"

In [39]:
curb.execute(q)

In [30]:
q = "INSERT into players values (15, 'sania', 'tennis', 50600, 'ind')"

In [31]:
con.commit()

In [47]:
qu = "INSERT into players (id, name, sport, earn, country) VALUES (?,?,?,?,?)"

lista = [16, 'lebron', 'basketball', 408920, 'US']
listb = [20, 'smriti', 'cricket', 12054, 'india']
listc = [18, 'saina', 'badminton', 28230, 'india']

In [48]:
tupa = (lista, listb, listc)

In [49]:
listd = [22, 'ronaldo', 'football', 680234, 'portugal']

In [51]:
curb.execute(qu, listd)
con.commit()

IntegrityError: UNIQUE constraint failed: players.id

In [45]:
lista

[16, 'lebron', 'basketball', 408920, 'US']

In [43]:
curb.executemany(q, tupa)
con.commit()

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 0, and there are 5 supplied.

In [46]:
import time
for rec in data:
    print(rec)
    time.sleep(1)

NameError: name 'data' is not defined

In [52]:
qu = "INSERT into players (id, name, sport, earn, country) VALUES (?,?,?,?,?)"

In [56]:
curb.execute(qu, [99, 'sen', 'foruma2', 34678, 'brazil'])

In [57]:
con.commit()

In [58]:
tupa = (lista, listb, listc)

([16, 'lebron', 'basketball', 408920, 'US'],
 [20, 'smriti', 'cricket', 12054, 'india'],
 [18, 'saina', 'badminton', 28230, 'india'])

In [63]:
listd

[22, 'ronaldo', 'football', 680234, 'portugal']

In [64]:

q = "SELECT * FROM players"

In [65]:
curb.execute(q)

In [66]:

data = curb.fetchall()

In [67]:
import time
for rec in data:
    print(rec)
    time.sleep(1)

(12, 'federer', 'tennis', 4050600.0, 'swiss')
(14, 'senna', 'foruma1', 346780.0, 'brazil')
(15, 'sania', 'tennis', 50600.0, 'ind')
(16, 'lebron', 'basketball', 408920.0, 'US')
(18, 'saina', 'badminton', 28230.0, 'india')
(20, 'smriti', 'cricket', 12054.0, 'india')
(22, 'RON', 'football', 680234.0, 'portugal')
(99, 'sen', 'foruma2', 34678.0, 'brazil')